<div id="announcement-bar" class="swiper-container  announcement-bar">
  <div class="swiper-wrapper">
    {%- for block in section.blocks -%}
      <div class="swiper-slide message">
        {{ block.settings.message }}
      </div>
    {% endfor %}
  </div>
</div>

<style>
       .announcement-bar{
       background:{{section.settings.colorBackground}};
       position: relative;
       overflow: hidden;
     }
       .announcement-bar .message{
       text-align:center;
       color:{{section.settings.colorText}};
       font-size:{{section.settings.font_size}}px;
       text-transform:{{section.settings.text-transform}};

     }
     #announcement-bar {
     height: 40px;
     color: #333;
     font-size: 14px;
   }

   .swiper-slide {
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
  }
</style>

}

{% schema %}
  {
    "name": "Custom Announcement Bar",
    "settings": [


      {
        "type": "color",
        "id": "colorBackground",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "colorText",
        "label": "Text color",
        "default": "#000"
      },
   {
      "type": "range",
      "id": "font_size",
      "min": 14,
      "max": 50,
      "step": 4,
      "unit": "px",
      "label": "Font size",
      "default": 14
    },
 {
      "type": "select",
      "id": "text-transform",
     "label": "Text transform",
      "options": [
        {
          "value": "uppercase",
          "label": "Upper case"
        },
        {
          "value": "lowercase",
          "label": "Lower case"
        },
       {
          "value": "Capitalize",
          "label": "Capitalize"
        }
      ]
    },

    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "Change Minutes",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "Change Minutes",
      "default": 5
    }
],
"blocks": [
      {
        "type": "header",
        "name": "Message",
        "settings": [
          {
              "id": "message",
              "type": "text",
             "label": "Enter your text"
            }
        ]
      }
],
"presets":[
    {
        "name":"Custom Announcement Bar"
    }
]
  }
{% endschema %}
